In [65]:
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
#################### connection à la base de données ###############
def get_data():
    try:
        conn = psycopg2.connect(
            database="tylim_db",
            user="didi_user",
            host="localhost",
            password="charb1709",
            port=5432,
        )
        query = "SELECT * FROM users"
        df = pd.read_sql(query, conn)
        conn.close()
        return df
    except:
        st.error("Échec de connexion à la base de données.")

In [3]:
df = get_data()

if df.empty:
    st.warning("⚠️ Aucune donnée disponible.")
else:
   # Calcul des KPIs
    print(df)
    df.to_csv("../DATAS/DB_Tylimmo.csv", index=False, encoding="utf-8")

                                      id                birthday civility  \
0   c7a1beee-ae47-422e-bdbf-e1b142dcc1bc 1968-02-13 17:21:34.132     Miss
1   147276ef-e021-4a59-93ad-9bac0ef9012d 2003-11-16 13:57:59.049      Dr.
2   8fef64a1-eb44-4393-8844-63fa3877a007 1961-09-14 21:57:50.633     Mrs.
3   3a953cce-a11d-41a7-8f68-8a7e8bc3556f 1967-04-18 22:16:54.454      Mr.
4   a62aba25-39de-4fcf-bfd2-b289d54b6d28 1975-08-24 22:14:22.319     Mrs.
..                                   ...                     ...      ...
95  35a98381-e610-4558-81bf-a70c7c1e37f7 1998-01-21 10:50:22.227      Dr.
96  88654903-74f7-4ea8-9226-56e87058fd3f 2001-05-13 06:24:28.483     Mrs.
97  66c3b10b-12c7-4d92-a272-f2786f2588f4 1999-10-24 14:55:08.983      Ms.
98  603dccc6-c5f4-42df-9946-ecf74d5dae8f 1991-01-01 02:24:48.376      Dr.
99  91e53ee3-b557-4fa6-9cbd-9a097d5f59c3 1998-12-21 23:46:34.125     Mrs.

   marital_status  has_account_bank  children_number  \
0         Married             False                8
1        Divorced             False                9
2          Single              True                7
3         Married              True                0
4         Widowed              True                9
..            ...               ...              ...
95        Married              True                4
96        Married              True                2
97        Married              True                5
98        Married              True               10
99         Single              True                5

                        address        country       city      municipality  \
0        174 Avenue Jean Mermoz  Côte d'Ivoire        Man        Centre Man
1    810 Boulevard de Marseille  Côte d'Ivoire       Divo       Centre Divo
2              67 Avenue Nogués  Côte d'Ivoire    Abidjan          Koumassi
3    649 Boulevard de Marseille  Côte d'Ivoire     Gagnoa     Centre Gagnoa
4             286 Avenue Nogués  Côte d'Ivoire    Korhogo    Centre Korhogo
..                          ...            ...        ...               ...
95            224 Avenue Nogués  Côte d'Ivoire    Abidjan        Port-Bouët
96  376 Avenue Houphouët Boigny  Côte d'Ivoire        Man        Centre Man
97           81 Rue Jesse Owens  Côte d'Ivoire      Daloa      Centre Daloa
98          483 Rue du Commerce  Côte d'Ivoire    Abidjan          Yopougon
99           26 Rue des Jardins  Côte d'Ivoire  San-Pédro  Centre San-Pédro

    ...            occupational_function  \
0   ...    Direct Configuration Engineer
1   ...        Senior Mobility Associate
2   ...    National Interactions Planner
3   ...  District Implementation Planner
4   ...    Human Applications Specialist
..  ...                              ...
95  ...          Chief Quality Associate
96  ...        Forward Markets Executive
97  ...      Customer Operations Liaison
98  ...           District Data Engineer
99  ...            Principal Brand Agent

                      activity_sector_id  contract_type monthly_charge  \
0   f2e5c15a-7b75-4b30-8eb4-bd6adf045582        Interim       295680.0
1   2670fc77-ffc3-401e-bafa-6d96e167f9b0            CDI       273830.0
2   d742faba-923c-45f8-a20f-7150b7c0be2d            CDI       394735.0
3   693fd115-bad6-4d56-b9a2-b3b266cb61c3       Informel       624310.0
4   607ee45b-5db0-43ba-acd5-d422643993bc        Interim      1256220.0
..                                   ...            ...            ...
95  62057165-860d-4583-bf09-2b6f7777b419            CDI      1190855.0
96  b315b6b0-811b-46fd-95a0-0f7ff8538b64            CDI       547600.0
97  c7c0cbfe-5c1b-4162-8ae6-f1b7fcb008a3  Fonctionnaire       165740.0
98  3bda4aea-10d7-4a8e-b74b-75036ab5b7d0  Fonctionnaire      1072165.0
99  e975b461-d5ef-4c2a-b4f7-bfe9cc8a473c       Etudiant       103360.0

        debt  professional_experience  previous_dwellings  persons_dependents  \
0   502095.0                        2                   4                   1
1   589250.0                       34                   1                   4
2   502035.0                       19                   1                   1
3   218535.0                       23                   1                   1
4   111260.0                       35                   0                   3
..       ...                      ...                 ...                 ...
95  600545.0                       25                   1                   5
96  482890.0                       31                   2                   2
97  448865.0                        3                   2                   0
98  688510.0                        1                   1                   3
99   29840.0                       16                   2                   2

    created_at              updated_at
0   2024-08-01 2025-09-10 09:24:02.659
1   2024-08-01 2025-09-10 09:24:02.664
2   2024-08-01 2025-09-10 09:24:02.668
3   2024-08-01 2025-09-10 09:24:02.672
4   2024-08-01 2025-09-10 09:24:02.676
..         ...                     ...
95  2024-08-01 2025-09-10 09:24:03.078
96  2024-08-01 2025-09-10 09:24:03.082
97  2024-08-01 2025-09-10 09:24:03.088
98  2024-08-01 2025-09-10 09:24:03.093
99  2024-08-01 2025-09-10 09:24:03.098

[100 rows x 22 columns]

/tmp/ipykernel_510660/3157994134.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [4]:
df_tyli = pd.read_csv("../DATAS/DB_Tylimmo.csv")
df_tyli

,id,birthday,civility,marital_status,has_account_bank,children_number,address,country,city,municipality,...,occupational_function,activity_sector_id,contract_type,monthly_charge,debt,professional_experience,previous_dwellings,persons_dependents,created_at,updated_at
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Miss,Married,False,8,174 Avenue Jean Mermoz,Côte d'Ivoire,Man,Centre Man,...,Direct Configuration Engineer,f2e5c15a-7b75-4b30-8eb4-bd6adf045582,Interim,295680.0,502095.0,2,4,1,2024-08-01,2025-09-10 09:24:02.659
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Dr.,Divorced,False,9,810 Boulevard de Marseille,Côte d'Ivoire,Divo,Centre Divo,...,Senior Mobility Associate,2670fc77-ffc3-401e-bafa-6d96e167f9b0,CDI,273830.0,589250.0,34,1,4,2024-08-01,2025-09-10 09:24:02.664
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Mrs.,Single,True,7,67 Avenue Nogués,Côte d'Ivoire,Abidjan,Koumassi,...,National Interactions Planner,d742faba-923c-45f8-a20f-7150b7c0be2d,CDI,394735.0,502035.0,19,1,1,2024-08-01,2025-09-10 09:24:02.668
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Mr.,Married,True,0,649 Boulevard de Marseille,Côte d'Ivoire,Gagnoa,Centre Gagnoa,...,District Implementation Planner,693fd115-bad6-4d56-b9a2-b3b266cb61c3,Informel,624310.0,218535.0,23,1,1,2024-08-01,2025-09-10 09:24:02.672
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Mrs.,Widowed,True,9,286 Avenue Nogués,Côte d'Ivoire,Korhogo,Centre Korhogo,...,Human Applications Specialist,607ee45b-5db0-43ba-acd5-d422643993bc,Interim,1256220.0,111260.0,35,0,3,2024-08-01,2025-09-10 09:24:02.676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Dr.,Married,True,4,224 Avenue Nogués,Côte d'Ivoire,Abidjan,Port-Bouët,...,Chief Quality Associate,62057165-860d-4583-bf09-2b6f7777b419,CDI,1190855.0,600545.0,25,1,5,2024-08-01,2025-09-10 09:24:03.078
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Mrs.,Married,True,2,376 Avenue Houphouët Boigny,Côte d'Ivoire,Man,Centre Man,...,Forward Markets Executive,b315b6b0-811b-46fd-95a0-0f7ff8538b64,CDI,547600.0,482890.0,31,2,2,2024-08-01,2025-09-10 09:24:03.082
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Ms.,Married,True,5,81 Rue Jesse Owens,Côte d'Ivoire,Daloa,Centre Daloa,...,Customer Operations Liaison,c7c0cbfe-5c1b-4162-8ae6-f1b7fcb008a3,Fonctionnaire,165740.0,448865.0,3,2,0,2024-08-01,2025-09-10 09:24:03.088
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Dr.,Married,True,10,483 Rue du Commerce,Côte d'Ivoire,Abidjan,Yopougon,...,District Data Engineer,3bda4aea-10d7-4a8e-b74b-75036ab5b7d0,Fonctionnaire,1072165.0,688510.0,1,1,3,2024-08-01,2025-09-10 09:24:03.093
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Mrs.,Single,True,5,26 Rue des Jardins,Côte d'Ivoire,San-Pédro,Centre San-Pédro,...,Principal Brand Agent,e975b461-d5ef-4c2a-b4f7-bfe9cc8a473c,Etudiant,103360.0,29840.0,16,2,2,2024-08-01,2025-09-10 09:24:03.098

In [5]:
df_tyli.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       100 non-null    object
 1   birthday                 100 non-null    object
 2   civility                 100 non-null    object
 3   marital_status           100 non-null    object
 4   has_account_bank         100 non-null    bool
 5   children_number          100 non-null    int64
 6   address                  100 non-null    object
 7   country                  100 non-null    object
 8   city                     100 non-null    object
 9   municipality             100 non-null    object
 10  neighborhood             100 non-null    object
 11  monthly_income           100 non-null    float64
 12  occupational_function    100 non-null    object
 13  activity_sector_id       100 non-null    object
 14  contract_type            100 non-null    object
 15  monthly_charge           100 non-null    float64
 16  debt                     100 non-null    float64
 17  professional_experience  100 non-null    int64
 18  previous_dwellings       100 non-null    int64
 19  persons_dependents       100 non-null    int64
 20  created_at               100 non-null    object
 21  updated_at               100 non-null    object
dtypes: bool(1), float64(3), int64(4), object(14)
memory usage: 16.6+ KB

In [6]:
df_tyli.describe()

,children_number,monthly_income,monthly_charge,debt,professional_experience,previous_dwellings,persons_dependents
count,100.00000,1.000000e+02,1.000000e+02,1.000000e+02,100.000000,100.000000,100.000000
mean,5.23000,4.660000e+05,8.504486e+05,4.220368e+05,18.680000,2.230000,3.410000
std,3.26863,3.397347e+05,8.761430e+05,4.083649e+05,10.460971,1.638273,2.292257
min,0.00000,6.000000e+04,2.905000e+04,5.600000e+02,0.000000,0.000000,0.000000
25%,2.00000,2.250000e+05,2.869138e+05,1.009912e+05,10.750000,1.000000,1.000000
50%,5.50000,3.450000e+05,5.509850e+05,3.370250e+05,21.500000,2.000000,3.000000
75%,8.00000,5.875000e+05,1.069450e+06,5.875775e+05,28.000000,4.000000,5.000000
max,10.00000,1.430000e+06,3.987730e+06,2.007415e+06,35.000000,5.000000,7.000000

In [24]:
df_tyli.nunique()

id                         100
birthday                   100
civility                     5
marital_status               4
has_account_bank             2
children_number             11
address                    100
country                      1
city                        11
municipality                17
neighborhood                10
monthly_income              60
occupational_function      100
activity_sector_id          45
contract_type                7
monthly_charge             100
debt                       100
professional_experience     35
previous_dwellings           6
persons_dependents           8
created_at                   1
updated_at                 100
dtype: int64

In [23]:
print(df_tyli['marital_status'].nunique())
df_tyli['marital_status'].unique()

4

array(['Married', 'Divorced', 'Single', 'Widowed'], dtype=object)

In [22]:
print(df_tyli['occupational_function'].nunique())
df_tyli['occupational_function'].unique()

100

array(['Direct Configuration Engineer', 'Senior Mobility Associate',
       'National Interactions Planner', 'District Implementation Planner',
       'Human Applications Specialist', 'Regional Accounts Liaison',
       'Legacy Branding Producer', 'Human Identity Officer',
       'Customer Program Liaison', 'Future Accountability Representative',
       'Forward Accountability Specialist', 'Direct Quality Orchestrator',
       'District Configuration Technician', 'Dynamic Program Liaison',
       'Customer Interactions Strategist', 'Legacy Data Coordinator',
       'Investor Communications Assistant', 'Direct Data Strategist',
       'Legacy Operations Strategist', 'Direct Infrastructure Consultant',
       'Product Research Administrator',
       'District Applications Associate', 'Legacy Tactics Designer',
       'Principal Functionality Administrator',
       'National Directives Strategist', 'Regional Paradigm Associate',
       'Internal Quality Coordinator', 'Central Tactics Executive',
       'Corporate Metrics Manager', 'International Creative Analyst',
       'Senior Identity Officer', 'Principal Functionality Architect',
       'Corporate Implementation Assistant', 'Central Branding Officer',
       'Principal Division Analyst', 'Lead Functionality Liaison',
       'International Marketing Representative',
       'Direct Solutions Officer', 'Direct Paradigm Administrator',
       'Chief Identity Developer', 'Human Optimization Planner',
       'Lead Functionality Technician', 'Human Program Architect',
       'Dynamic Data Architect', 'Product Program Liaison',
       'Direct Interactions Technician', 'National Usability Architect',
       'Senior Group Architect', 'District Intranet Orchestrator',
       'Senior Integration Architect', 'Chief Usability Specialist',
       'Principal Optimization Officer', 'District Metrics Technician',
       'District Usability Producer', 'Global Security Liaison',
       'Product Web Strategist', 'Human Factors Administrator',
       'Customer Division Facilitator',
       'District Implementation Associate',
       'Internal Optimization Technician', 'Dynamic Security Designer',
       'Corporate Metrics Engineer', 'Central Security Analyst',
       'Global Brand Orchestrator', 'International Directives Developer',
       'International Optimization Designer', 'District Group Producer',
       'Corporate Group Liaison', 'Global Intranet Designer',
       'Product Solutions Specialist', 'Internal Mobility Associate',
       'Senior Interactions Analyst', 'Customer Research Officer',
       'National Brand Architect', 'Senior Intranet Technician',
       'International Usability Representative',
       'Chief Operations Specialist', 'Global Web Strategist',
       'International Functionality Engineer',
       'National Program Engineer', 'District Usability Representative',
       'Human Creative Representative',
       'Internal Configuration Consultant', 'Central Directives Producer',
       'Human Solutions Associate', 'Future Optimization Orchestrator',
       'Customer Usability Orchestrator', 'Forward Accountability Agent',
       'National Intranet Developer', 'Forward Research Executive',
       'Product Operations Planner', 'Future Identity Representative',
       'Dynamic Response Manager', 'Lead Accountability Liaison',
       'Investor Directives Officer', 'Chief Quality Associate',
       'Forward Markets Executive', 'Customer Operations Liaison',
       'District Data Engineer', 'Principal Brand Agent'], dtype=object)

In [21]:
print(df_tyli['contract_type'].nunique())
df_tyli['contract_type'].unique()

7

array(['Interim', 'CDI', 'Informel', 'Independant', 'CDD', 'Etudiant',
       'Fonctionnaire'], dtype=object)

In [20]:
print(df_tyli['has_account_bank'].nunique())
df_tyli['has_account_bank'].unique()

2

array([False,  True])

In [18]:
print(df_tyli['birthday'].nunique())
df_tyli['birthday'].unique()

100

array(['1968-02-13 17:21:34.132', '2003-11-16 13:57:59.049',
       '1961-09-14 21:57:50.633', '1967-04-18 22:16:54.454',
       '1975-08-24 22:14:22.319', '1993-06-25 08:42:26.191',
       '1985-05-04 12:40:50.202', '2007-04-06 08:22:50.366',
       '1984-05-31 23:38:09.997', '1977-01-05 08:46:39.194',
       '1974-02-15 20:00:35.498', '2000-03-27 01:13:05.331',
       '1991-04-02 17:27:56.126', '1965-01-30 11:51:56.700',
       '1989-01-19 17:16:58.028', '1986-04-26 14:27:06.001',
       '1973-09-30 03:19:28.473', '1977-05-18 00:34:47.540',
       '1981-08-07 19:22:45.000', '1993-06-04 02:57:59.987',
       '1966-05-22 00:18:01.522', '1981-02-10 18:27:04.699',
       '1969-06-26 15:50:35.268', '2003-05-08 03:53:53.827',
       '2004-06-18 09:53:30.360', '1975-12-16 09:07:17.333',
       '1990-12-27 18:54:00.154', '1989-04-17 22:33:42.078',
       '2002-12-28 05:44:06.581', '1979-04-20 15:26:37.093',
       '1990-07-04 07:56:34.182', '1987-07-22 02:05:49.971',
       '1989-05-09 21:15:15.229', '1992-02-22 00:56:46.176',
       '1960-01-10 21:01:19.431', '1975-10-26 16:29:28.716',
       '1991-05-09 14:09:51.937', '1972-04-27 20:43:38.483',
       '1988-11-07 15:24:50.556', '1964-01-14 06:34:29.869',
       '1991-04-25 15:30:45.222', '1968-06-01 01:08:40.186',
       '1997-05-25 17:35:07.484', '1992-08-03 03:52:14.485',
       '1980-02-06 00:42:15.203', '2004-12-16 09:29:30.901',
       '1993-09-06 14:19:44.266', '1975-10-04 01:14:52.085',
       '1979-03-20 21:21:55.751', '2003-11-12 14:25:53.986',
       '1980-05-13 23:00:22.977', '2002-10-16 09:28:59.071',
       '2001-06-22 03:55:09.328', '1979-02-24 00:03:39.309',
       '1965-11-10 06:06:12.297', '1993-06-07 11:55:32.174',
       '1995-10-26 02:56:36.413', '1962-04-25 05:07:25.873',
       '2001-03-06 11:59:49.706', '1996-09-06 16:14:31.910',
       '1994-04-25 02:37:14.080', '1978-12-30 11:04:16.368',
       '1980-04-25 16:29:03.321', '1982-04-24 09:46:44.085',
       '1976-03-09 04:44:58.907', '1990-03-06 18:00:31.197',
       '2005-08-09 03:20:41.950', '1999-01-21 18:05:24.824',
       '1991-08-29 14:34:05.139', '1992-06-07 10:17:24.550',
       '1990-07-29 14:52:23.485', '1992-10-25 23:32:23.126',
       '1996-03-11 16:44:17.916', '1983-06-25 22:45:38.763',
       '1988-07-20 16:47:51.907', '2007-03-03 03:52:34.422',
       '1962-02-27 17:06:08.556', '1975-09-24 00:37:55.864',
       '1994-10-12 22:34:39.016', '1960-02-25 03:26:18.776',
       '1995-08-02 05:00:54.200', '1979-06-03 05:13:09.940',
       '1961-08-04 05:04:20.181', '2004-09-02 17:02:42.613',
       '2000-11-02 21:51:08.496', '1969-02-04 13:35:51.693',
       '1967-08-13 14:35:37.068', '1989-01-12 04:39:24.022',
       '1991-05-18 16:12:11.722', '1969-03-20 02:05:16.552',
       '1971-01-19 02:54:03.704', '1994-08-21 16:37:15.841',
       '2001-07-17 09:53:55.535', '2002-08-16 10:33:27.315',
       '1978-07-26 18:53:25.983', '1998-01-21 10:50:22.227',
       '2001-05-13 06:24:28.483', '1999-10-24 14:55:08.983',
       '1991-01-01 02:24:48.376', '1998-12-21 23:46:34.125'], dtype=object)

In [17]:
print(df_tyli['monthly_income'].nunique())
df_tyli['monthly_income'].unique()

60

array([ 790000.,  385000.,  770000.,  250000.,  485000.,  335000.,
        290000.,  225000.,  865000.,  430000.,  360000.,  180000.,
        960000.,  440000.,  140000.,  240000.,   60000.,  145000.,
        560000.,  200000.,  450000.,  350000.,  895000.,  130000.,
        280000.,  190000.,  480000.,  395000.,  320000.,  120000.,
        520000.,  575000.,  265000.,  505000.,  260000.,  155000.,
        625000.,  125000., 1295000.,  470000., 1150000.,  270000.,
       1380000.,  730000.,  340000.,  310000.,  950000.,  175000.,
       1345000.,  245000.,  640000.,  530000.,  110000., 1000000.,
        670000.,  680000., 1010000., 1430000.,  815000.,   80000.])

In [25]:
df_tyli.columns

Index(['id', 'birthday', 'civility', 'marital_status', 'has_account_bank',
       'children_number', 'address', 'country', 'city', 'municipality',
       'neighborhood', 'monthly_income', 'occupational_function',
       'activity_sector_id', 'contract_type', 'monthly_charge', 'debt',
       'professional_experience', 'previous_dwellings', 'persons_dependents',
       'created_at', 'updated_at'],
      dtype='object')

In [26]:
new_df = df_tyli.drop(['civility', 'children_number', 'address', 'country', 'city', 'municipality',
       'neighborhood', 'activity_sector_id', 'monthly_charge', 'debt',
       'professional_experience', 'previous_dwellings', 'persons_dependents',
       'created_at', 'updated_at'], axis=1)
new_df

,id,birthday,marital_status,has_account_bank,monthly_income,occupational_function,contract_type
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Married,False,790000.0,Direct Configuration Engineer,Interim
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Divorced,False,385000.0,Senior Mobility Associate,CDI
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Single,True,770000.0,National Interactions Planner,CDI
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Married,True,250000.0,District Implementation Planner,Informel
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Widowed,True,485000.0,Human Applications Specialist,Interim
...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Married,True,575000.0,Chief Quality Associate,CDI
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Married,True,385000.0,Forward Markets Executive,CDI
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Married,True,225000.0,Customer Operations Liaison,Fonctionnaire
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Married,True,450000.0,District Data Engineer,Fonctionnaire
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Single,True,80000.0,Principal Brand Agent,Etudiant

In [118]:
new_df['logement']='Locataire'
new_df

,id,birthday,marital_status,has_account_bank,monthly_income,occupational_function,contract_type,logement,age,tranche_age
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Married,False,790000.0,Direct Configuration Engineer,Formel,Locataire,57,55-64
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Divorced,False,385000.0,Senior Mobility Associate,Formel,Locataire,21,18-24
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Single,True,770000.0,National Interactions Planner,Formel,Locataire,64,55-64
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Married,True,250000.0,District Implementation Planner,Informel,Locataire,58,55-64
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Widowed,True,485000.0,Human Applications Specialist,Formel,Locataire,50,45-54
...,...,...,...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Married,True,575000.0,Chief Quality Associate,Formel,Locataire,27,25-34
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Married,True,385000.0,Forward Markets Executive,Formel,Locataire,24,18-24
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Married,True,225000.0,Customer Operations Liaison,Formel,Locataire,26,25-34
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Married,True,450000.0,District Data Engineer,Formel,Locataire,34,25-34
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Single,True,80000.0,Principal Brand Agent,Formel,Locataire,26,25-34

In [119]:
secteur = new_df[new_df['contract_type'] == "Informel"]
secteur

,id,birthday,marital_status,has_account_bank,monthly_income,occupational_function,contract_type,logement,age,tranche_age
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Married,True,250000.0,District Implementation Planner,Informel,Locataire,58,55-64
42,a48619bc-dd47-4c86-a1cd-d93813bcf21d,1997-05-25 17:35:07.484,Single,False,250000.0,Human Program Architect,Informel,Locataire,28,25-34
45,df79fbde-9837-4c61-809f-e41551b0cb36,2004-12-16 09:29:30.901,Divorced,True,155000.0,Direct Interactions Technician,Informel,Locataire,20,18-24
50,47207084-76e2-4e2e-a2f7-49809d4a3460,1980-05-13 23:00:22.977,Single,False,125000.0,Chief Usability Specialist,Informel,Locataire,45,45-54
68,7cefbf3f-119c-459d-97c8-482eac015b00,1991-08-29 14:34:05.139,Single,False,310000.0,Global Intranet Designer,Informel,Locataire,34,25-34
79,6887faed-8f1e-4481-abf7-15d27893b168,1960-02-25 03:26:18.776,Married,False,110000.0,National Program Engineer,Informel,Locataire,65,65+
84,24a0ad66-00e2-4e88-b403-e08c597560c5,2000-11-02 21:51:08.496,Single,True,270000.0,Human Solutions Associate,Informel,Locataire,25,25-34

In [120]:
val = "Formel"

new_df["contract_type"] = new_df["contract_type"].replace(['Interim', 'CDI', 'Independant', 'CDD', 'Etudiant', 'Fonctionnaire'], val)
new_df

,id,birthday,marital_status,has_account_bank,monthly_income,occupational_function,contract_type,logement,age,tranche_age
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Married,False,790000.0,Direct Configuration Engineer,Formel,Locataire,57,55-64
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Divorced,False,385000.0,Senior Mobility Associate,Formel,Locataire,21,18-24
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Single,True,770000.0,National Interactions Planner,Formel,Locataire,64,55-64
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Married,True,250000.0,District Implementation Planner,Informel,Locataire,58,55-64
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Widowed,True,485000.0,Human Applications Specialist,Formel,Locataire,50,45-54
...,...,...,...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Married,True,575000.0,Chief Quality Associate,Formel,Locataire,27,25-34
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Married,True,385000.0,Forward Markets Executive,Formel,Locataire,24,18-24
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Married,True,225000.0,Customer Operations Liaison,Formel,Locataire,26,25-34
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Married,True,450000.0,District Data Engineer,Formel,Locataire,34,25-34
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Single,True,80000.0,Principal Brand Agent,Formel,Locataire,26,25-34

In [121]:
### Calcul de l'âge
new_df["birthday"] = pd.to_datetime(new_df["birthday"])

# Calcul vectorisé de l'âge
today = pd.Timestamp.today()
new_df["age"] = (
    today.year - new_df["birthday"].dt.year
    - ((today.month < new_df["birthday"].dt.month) |
       ((today.month == new_df["birthday"].dt.month) &
        (today.day < new_df["birthday"].dt.day)))
)

# Résultat
print(new_df[["id", "birthday", "age"]])

                                      id                birthday  age
0   c7a1beee-ae47-422e-bdbf-e1b142dcc1bc 1968-02-13 17:21:34.132   57
1   147276ef-e021-4a59-93ad-9bac0ef9012d 2003-11-16 13:57:59.049   21
2   8fef64a1-eb44-4393-8844-63fa3877a007 1961-09-14 21:57:50.633   64
3   3a953cce-a11d-41a7-8f68-8a7e8bc3556f 1967-04-18 22:16:54.454   58
4   a62aba25-39de-4fcf-bfd2-b289d54b6d28 1975-08-24 22:14:22.319   50
..                                   ...                     ...  ...
95  35a98381-e610-4558-81bf-a70c7c1e37f7 1998-01-21 10:50:22.227   27
96  88654903-74f7-4ea8-9226-56e87058fd3f 2001-05-13 06:24:28.483   24
97  66c3b10b-12c7-4d92-a272-f2786f2588f4 1999-10-24 14:55:08.983   26
98  603dccc6-c5f4-42df-9946-ecf74d5dae8f 1991-01-01 02:24:48.376   34
99  91e53ee3-b557-4fa6-9cbd-9a097d5f59c3 1998-12-21 23:46:34.125   26

[100 rows x 3 columns]

In [122]:
# Définition des tranches d’âge
bins = [0, 17, 24, 34, 44, 54, 64, float("inf")]
labels = ["0-17", "18-24", "25-34", "35-44", "45-54", "55-64", "65+"]

new_df["tranche_age"] = pd.cut(new_df["age"], bins=bins, labels=labels, right=True, include_lowest=True)

# Résultat
print(new_df[["birthday", "age", "tranche_age"]])

                  birthday  age tranche_age
0  1968-02-13 17:21:34.132   57       55-64
1  2003-11-16 13:57:59.049   21       18-24
2  1961-09-14 21:57:50.633   64       55-64
3  1967-04-18 22:16:54.454   58       55-64
4  1975-08-24 22:14:22.319   50       45-54
..                     ...  ...         ...
95 1998-01-21 10:50:22.227   27       25-34
96 2001-05-13 06:24:28.483   24       18-24
97 1999-10-24 14:55:08.983   26       25-34
98 1991-01-01 02:24:48.376   34       25-34
99 1998-12-21 23:46:34.125   26       25-34

[100 rows x 3 columns]

In [123]:
new_df

,id,birthday,marital_status,has_account_bank,monthly_income,occupational_function,contract_type,logement,age,tranche_age
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Married,False,790000.0,Direct Configuration Engineer,Formel,Locataire,57,55-64
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Divorced,False,385000.0,Senior Mobility Associate,Formel,Locataire,21,18-24
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Single,True,770000.0,National Interactions Planner,Formel,Locataire,64,55-64
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Married,True,250000.0,District Implementation Planner,Informel,Locataire,58,55-64
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Widowed,True,485000.0,Human Applications Specialist,Formel,Locataire,50,45-54
...,...,...,...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Married,True,575000.0,Chief Quality Associate,Formel,Locataire,27,25-34
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Married,True,385000.0,Forward Markets Executive,Formel,Locataire,24,18-24
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Married,True,225000.0,Customer Operations Liaison,Formel,Locataire,26,25-34
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Married,True,450000.0,District Data Engineer,Formel,Locataire,34,25-34
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Single,True,80000.0,Principal Brand Agent,Formel,Locataire,26,25-34

In [124]:
data = new_df.rename(columns={
    "tranche_age": "age_grp",
    "marital_status": "mstat",
    "monthly_income": "rev_total_mois",
    "has_account_bank": "bancarise",
    "logement": "logem",
    "contract_type": "Stg_formel",
})

In [125]:
data

,id,birthday,mstat,bancarise,rev_total_mois,occupational_function,Stg_formel,logem,age,age_grp
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Married,False,790000.0,Direct Configuration Engineer,Formel,Locataire,57,55-64
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Divorced,False,385000.0,Senior Mobility Associate,Formel,Locataire,21,18-24
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Single,True,770000.0,National Interactions Planner,Formel,Locataire,64,55-64
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Married,True,250000.0,District Implementation Planner,Informel,Locataire,58,55-64
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Widowed,True,485000.0,Human Applications Specialist,Formel,Locataire,50,45-54
...,...,...,...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Married,True,575000.0,Chief Quality Associate,Formel,Locataire,27,25-34
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Married,True,385000.0,Forward Markets Executive,Formel,Locataire,24,18-24
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Married,True,225000.0,Customer Operations Liaison,Formel,Locataire,26,25-34
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Married,True,450000.0,District Data Engineer,Formel,Locataire,34,25-34
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Single,True,80000.0,Principal Brand Agent,Formel,Locataire,26,25-34

In [126]:
data["bancarise"] = data["bancarise"].astype(int)

In [127]:
data["mstat"] = data["mstat"].replace({
    "Married": "Marié(e)",
    "Divorced": "Divorcé(e)",
    "Widowed": "Veuf(ve)",
    "Single": "Célibataire"
})

data["Stg_formel"] = data["Stg_formel"].replace({
    "Formel": "1",
    "Informel": "0"
})

In [128]:
data

,id,birthday,mstat,bancarise,rev_total_mois,occupational_function,Stg_formel,logem,age,age_grp
0,c7a1beee-ae47-422e-bdbf-e1b142dcc1bc,1968-02-13 17:21:34.132,Marié(e),0,790000.0,Direct Configuration Engineer,1,Locataire,57,55-64
1,147276ef-e021-4a59-93ad-9bac0ef9012d,2003-11-16 13:57:59.049,Divorcé(e),0,385000.0,Senior Mobility Associate,1,Locataire,21,18-24
2,8fef64a1-eb44-4393-8844-63fa3877a007,1961-09-14 21:57:50.633,Célibataire,1,770000.0,National Interactions Planner,1,Locataire,64,55-64
3,3a953cce-a11d-41a7-8f68-8a7e8bc3556f,1967-04-18 22:16:54.454,Marié(e),1,250000.0,District Implementation Planner,0,Locataire,58,55-64
4,a62aba25-39de-4fcf-bfd2-b289d54b6d28,1975-08-24 22:14:22.319,Veuf(ve),1,485000.0,Human Applications Specialist,1,Locataire,50,45-54
...,...,...,...,...,...,...,...,...,...,...
95,35a98381-e610-4558-81bf-a70c7c1e37f7,1998-01-21 10:50:22.227,Marié(e),1,575000.0,Chief Quality Associate,1,Locataire,27,25-34
96,88654903-74f7-4ea8-9226-56e87058fd3f,2001-05-13 06:24:28.483,Marié(e),1,385000.0,Forward Markets Executive,1,Locataire,24,18-24
97,66c3b10b-12c7-4d92-a272-f2786f2588f4,1999-10-24 14:55:08.983,Marié(e),1,225000.0,Customer Operations Liaison,1,Locataire,26,25-34
98,603dccc6-c5f4-42df-9946-ecf74d5dae8f,1991-01-01 02:24:48.376,Marié(e),1,450000.0,District Data Engineer,1,Locataire,34,25-34
99,91e53ee3-b557-4fa6-9cbd-9a097d5f59c3,1998-12-21 23:46:34.125,Célibataire,1,80000.0,Principal Brand Agent,1,Locataire,26,25-34

In [129]:
data.columns

Index(['id', 'birthday', 'mstat', 'bancarise', 'rev_total_mois',
       'occupational_function', 'Stg_formel', 'logem', 'age', 'age_grp'],
      dtype='object')

In [130]:
data = data.drop(['id', 'birthday', 'occupational_function', 'age'], axis=1)
data

          mstat  bancarise  rev_total_mois Stg_formel      logem age_grp
0      Marié(e)          0        790000.0          1  Locataire   55-64
1    Divorcé(e)          0        385000.0          1  Locataire   18-24
2   Célibataire          1        770000.0          1  Locataire   55-64
3      Marié(e)          1        250000.0          0  Locataire   55-64
4      Veuf(ve)          1        485000.0          1  Locataire   45-54
..          ...        ...             ...        ...        ...     ...
95     Marié(e)          1        575000.0          1  Locataire   25-34
96     Marié(e)          1        385000.0          1  Locataire   18-24
97     Marié(e)          1        225000.0          1  Locataire   25-34
98     Marié(e)          1        450000.0          1  Locataire   25-34
99  Célibataire          1         80000.0          1  Locataire   25-34

[100 rows x 6 columns]

In [131]:
data["a_assurance"] = np.random.randint(0, 2, size=len(data))
data

,mstat,bancarise,rev_total_mois,Stg_formel,logem,age_grp,a_assurance
0,Marié(e),0,790000.0,1,Locataire,55-64,1
1,Divorcé(e),0,385000.0,1,Locataire,18-24,0
2,Célibataire,1,770000.0,1,Locataire,55-64,0
3,Marié(e),1,250000.0,0,Locataire,55-64,0
4,Veuf(ve),1,485000.0,1,Locataire,45-54,0
...,...,...,...,...,...,...,...
95,Marié(e),1,575000.0,1,Locataire,25-34,1
96,Marié(e),1,385000.0,1,Locataire,18-24,0
97,Marié(e),1,225000.0,1,Locataire,25-34,0
98,Marié(e),1,450000.0,1,Locataire,25-34,0
99,Célibataire,1,80000.0,1,Locataire,25-34,1

In [132]:
data = data[["mstat", "rev_total_mois", "age_grp", "bancarise",	"a_assurance", "logem", "Stg_formel"]]
data

,mstat,rev_total_mois,age_grp,bancarise,a_assurance,logem,Stg_formel
0,Marié(e),790000.0,55-64,0,1,Locataire,1
1,Divorcé(e),385000.0,18-24,0,0,Locataire,1
2,Célibataire,770000.0,55-64,1,0,Locataire,1
3,Marié(e),250000.0,55-64,1,0,Locataire,0
4,Veuf(ve),485000.0,45-54,1,0,Locataire,1
...,...,...,...,...,...,...,...
95,Marié(e),575000.0,25-34,1,1,Locataire,1
96,Marié(e),385000.0,18-24,1,0,Locataire,1
97,Marié(e),225000.0,25-34,1,0,Locataire,1
98,Marié(e),450000.0,25-34,1,0,Locataire,1
99,Célibataire,80000.0,25-34,1,1,Locataire,1

In [133]:
data.to_csv("../DATAS/Clean_Tylimmo.csv", index=False, encoding="utf-8")